    .container{
        display:grid;
        width: 80vw;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 7fr 1fr;
        border: 2px solid yellow;
        grid-template-areas: 
        "sd"
        "main"
        "ft";
        grid-gap: 5px;
        justify-content: center;
        margin: auto;
    }

    .box{

        border: 1px solid red;
        background: #F8FA9D;
        }
      
      .header{
          grid-area:hd;
      }
      
      .footer{
        grid-area: ft;  
      }
      .infocard{
        grid-area: sd;
      }
      .content{
        grid-area: main;
      }

/* @media(max-width:450px){} */