body{
    margin: 0;
}

.container{
    background-color: #eee2dc;
}

p{
    color: #123c69;
}

h2{
    color: #ac3b61;
}



button{
    background-color: lightgray;
    display: inline-block;
    border-radius: 8px;

}

#profileDes{
    font-style: italic;
    font-weight: bold;
}

.header{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  height: 60px;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #bab2b5;
  

}

.header_inner{
  width: 100%;
  margin: 0 auto 0 auto;
  display:grid;
        grid-template-columns: 90% 10%;
        grid-template-rows: 1fr;
        grid-template-areas: "logo back";
}

.goback{
    text-align: center;
    justify-content: center;
}

.button{
    text-align: center;
    font-weight: bold;
}

.header_title{
    text-align: left;
}

.infocard{
    align-items: center;
    background-color: #edc7b7;
    border: 0 solid;
    border-radius: 0.5rem;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 
     0 10px 10px -5px rgba(0,0,0,0.04);
    display: flex;
    flex-direction: row;
    margin: 1rem auto 1rem;      /* keeps infocard in the center */
    max-width: 1024px;
    padding: 0.5rem;
    text-align: left;
}

 #profilePic{
     object-fit: cover;
     height: 10rem;
     width: 10rem;
 }

 #profileDes{
     margin:5px 0 5px 0;
 }
 
 .infoDetails{
     display: flex;
     flex-direction: column;
     justify-content: left;

 }

 .content{
    background-color: #edc7b7;
    border: 0 solid;
    border-radius: 0.5rem;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 
     0 10px 10px -5px rgba(0,0,0,0.04);
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    margin: 0 auto 1rem;      
    max-width: 1024px;
    padding: 0.5rem;
    text-align: left;

 }

 h1{
     margin: 12px 0 12px 0;
 }
 h2{
     margin: 10px 0 10px 0;
 }

 .contentPic1{
     width:100%;
     max-width: 100%;
     height: auto;
 }

 .content_p{
    margin: 4px 0 4px 0;
  }


 .footer{
     background: #bab2b5;
 }

 .footer_innerbox{

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "copy1 socialk";
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
    font-weight: bold;

 }

 .copyright{
     grid-area: copy1;
     text-align: left;
 }

 .sociallink{
     grid-area: socialk;
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     align-items: center;
     text-decoration: none;

 }